In [1]:
import warnings
warnings.simplefilter("ignore")

In [2]:
import pandas as pd

excel = pd.ExcelFile('data.xlsx',engine = 'openpyxl')
data = excel.parse('1',skiprows=2)
data = data[data['ID'].isnull()==False]
for i in excel.sheet_names[1:-1]:
    time = excel.parse(i,skiprows=2)
    data = pd.concat([data,time[time['ID'].isnull()==False]],axis=0)

In [3]:
mentors = excel.parse('Наставники')

In [4]:
data.reset_index(inplace=True)

In [5]:
data.drop('index', axis=1, inplace=True)

In [6]:
data

,ID,Должность,Дата рождения,Пол,Семейное положение,Дата приема,Дата увольнения (если была в отчетном периоде),Наименование отсутствия,Календарные дни отсутствия,Оклад/тариф на конец отчетного периода,Город в адресе регистрации на конец отчетного периода,Количество детей
0,23854332.0,Ведущий инженер,1956-09-16,женский,Разв.,1982-08-19,NaT,NaN,NaN,38600.0,Москва,1.0
1,23854336.0,машинист,1959-08-30,мужской,Жен/ЗМ,2001-10-02,NaT,NaN,NaN,25200.0,Москва,2.0
2,23854339.0,инженер,1979-11-11,мужской,Жен/ЗМ,2001-09-27,NaT,NaN,NaN,42300.0,Москва,1.0
3,23854353.0,начальник смены,1979-05-06,мужской,Жен/ЗМ,2001-10-09,NaT,Прочие отсутствия,1.0,65000.0,Москва,1.0
4,23854358.0,Ведущий инженер,1962-10-03,мужской,Жен/ЗМ,1993-04-02,NaT,NaN,NaN,52500.0,Москва,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
45472,23867211.0,машинист,1994-06-15,мужской,Разв.,2020-12-12,NaT,NaN,NaN,33340.0,Москва,0.0
45473,23867212.0,эксперт,1970-09-24,мужской,Жен/ЗМ,2020-12-12,NaT,NaN,NaN,48720.0,Москва,2.0
45474,23867213.0,машинист,1997-08-06,мужской,Разв.,2020-12-12,NaT,NaN,NaN,33340.0,Москва,0.0
45475,23874344.0,оператор,1996-01-30,мужской,Хол/НЗ,2020-07-07,NaT,NaN,NaN,33340.0,Москва,0.0
45476,23874347.0,оператор,1996-10-11,мужской,Хол/НЗ,2020-07-07,NaT,NaN,NaN,33340.0,Москва,0.0

In [7]:
import numpy as np

In [8]:
data['Возраст'] = data['Дата рождения'].apply(lambda x: np.round((pd.Timestamp('2021-09-25')-x).days / 365.25))
data['Молодая кровь'] = data['Возраст'].apply(lambda x: x<=35)

In [9]:
data.drop('Дата рождения',axis=1,inplace=True)

In [10]:
data

,ID,Должность,Пол,Семейное положение,Дата приема,Дата увольнения (если была в отчетном периоде),Наименование отсутствия,Календарные дни отсутствия,Оклад/тариф на конец отчетного периода,Город в адресе регистрации на конец отчетного периода,Количество детей,Возраст,Молодая кровь
0,23854332.0,Ведущий инженер,женский,Разв.,1982-08-19,NaT,NaN,NaN,38600.0,Москва,1.0,65.0,False
1,23854336.0,машинист,мужской,Жен/ЗМ,2001-10-02,NaT,NaN,NaN,25200.0,Москва,2.0,62.0,False
2,23854339.0,инженер,мужской,Жен/ЗМ,2001-09-27,NaT,NaN,NaN,42300.0,Москва,1.0,42.0,False
3,23854353.0,начальник смены,мужской,Жен/ЗМ,2001-10-09,NaT,Прочие отсутствия,1.0,65000.0,Москва,1.0,42.0,False
4,23854358.0,Ведущий инженер,мужской,Жен/ЗМ,1993-04-02,NaT,NaN,NaN,52500.0,Москва,1.0,59.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45472,23867211.0,машинист,мужской,Разв.,2020-12-12,NaT,NaN,NaN,33340.0,Москва,0.0,27.0,True
45473,23867212.0,эксперт,мужской,Жен/ЗМ,2020-12-12,NaT,NaN,NaN,48720.0,Москва,2.0,51.0,False
45474,23867213.0,машинист,мужской,Разв.,2020-12-12,NaT,NaN,NaN,33340.0,Москва,0.0,24.0,True
45475,23874344.0,оператор,мужской,Хол/НЗ,2020-07-07,NaT,NaN,NaN,33340.0,Москва,0.0,26.0,True
45476,23874347.0,оператор,мужской,Хол/НЗ,2020-07-07,NaT,NaN,NaN,33340.0,Москва,0.0,25.0,True

In [11]:
role_changes = {}
for i in data['ID'].value_counts().index:
    if data[data['ID']==i]['Должность'].value_counts().shape[0] > 1:
        role_changes[i]=1
    else:role_changes[i]=0

In [12]:
role_changes

{23866725.0: 0,
 23854589.0: 0,
 23867127.0: 0,
 23865739.0: 0,
 23864467.0: 0,
 23857361.0: 0,
 23858387.0: 0,
 23865871.0: 0,
 23855850.0: 0,
 23862739.0: 0,
 23866556.0: 0,
 23857245.0: 0,
 23854968.0: 0,
 23864812.0: 0,
 23856710.0: 1,
 23865896.0: 0,
 23862921.0: 0,
 23866092.0: 0,
 23856694.0: 0,
 23866152.0: 0,
 23857336.0: 1,
 23864222.0: 0,
 23863679.0: 0,
 23860199.0: 0,
 23865153.0: 0,
 23866245.0: 1,
 23865677.0: 0,
 23854893.0: 0,
 23865451.0: 0,
 23855389.0: 0,
 23855902.0: 0,
 23866944.0: 0,
 23865551.0: 0,
 23866426.0: 1,
 23858333.0: 0,
 23866537.0: 1,
 23866233.0: 0,
 23866858.0: 0,
 23866064.0: 0,
 23865385.0: 0,
 23863176.0: 0,
 23857602.0: 0,
 23856157.0: 0,
 23866155.0: 0,
 23860253.0: 0,
 23865550.0: 1,
 23860895.0: 0,
 23860388.0: 1,
 23855990.0: 0,
 23864996.0: 0,
 23856023.0: 0,
 23866240.0: 0,
 23865672.0: 0,
 23857183.0: 0,
 23858452.0: 0,
 23867011.0: 0,
 23856192.0: 0,
 23865022.0: 0,
 23866425.0: 0,
 23857343.0: 0,
 23864798.0: 0,
 23866727.0: 0,
 23865215.0: 0,
 23855879.0: 0,
 23866443.0: 1,
 23855000.0: 1,
 23856552.0: 0,
 23866675.0: 1,
 23865836.0: 0,
 23866639.0: 0,
 23856141.0: 0,
 23866873.0: 0,
 23857521.0: 0,
 23863433.0: 0,
 23854689.0: 0,
 23854496.0: 0,
 23866660.0: 0,
 23863074.0: 0,
 23866509.0: 0,
 23866803.0: 1,
 23859776.0: 0,
 23864170.0: 0,
 23866726.0: 0,
 23865971.0: 0,
 23860480.0: 0,
 23861801.0: 0,
 23866562.0: 0,
 23865897.0: 0,
 23858557.0: 0,
 23866991.0: 1,
 23866905.0: 1,
 23862143.0: 0,
 23861034.0: 0,
 23866578.0: 0,
 23866198.0: 0,
 23865892.0: 0,
 23866961.0: 0,
 23855339.0: 0,
 23866785.0: 0,
 23856025.0: 1,
 23866909.0: 0,
 23855432.0: 1,
 23857796.0: 0,
 23863390.0: 0,
 23865475.0: 0,
 23865981.0: 0,
 23866148.0: 0,
 23866251.0: 0,
 23861256.0: 0,
 23858895.0: 0,
 23863783.0: 0,
 23858929.0: 0,
 23866879.0: 0,
 23866592.0: 0,
 23865253.0: 0,
 23857214.0: 0,
 23854856.0: 1,
 23866486.0: 0,
 23865794.0: 0,
 23859470.0: 0,
 23865096.0: 0,
 23858391.0: 0,
 23856814.0: 0,
 23859586.0: 0,
 23857402.0: 0,
 23866354.0: 1,
 23866925.0: 0,
 23866506.0: 0,
 23865352.0: 0,
 23860129.0: 0,
 23862067.0: 0,
 23857676.0: 0,
 23865780.0: 0,
 23858851.0: 0,
 23865559.0: 0,
 23864193.0: 0,
 23867071.0: 0,
 23865460.0: 0,
 23865058.0: 1,
 23858140.0: 0,
 23861035.0: 0,
 23866679.0: 0,
 23857898.0: 0,
 23863927.0: 0,
 23857578.0: 0,
 23867052.0: 0,
 23866595.0: 0,
 23865042.0: 0,
 23859322.0: 0,
 23854379.0: 0,
 23861064.0: 0,
 23866239.0: 0,
 23855274.0: 0,
 23855808.0: 0,
 23866109.0: 0,
 23864815.0: 0,
 23866138.0: 0,
 23857563.0: 0,
 23865860.0: 0,
 23859866.0: 0,
 23858342.0: 0,
 23854847.0: 0,
 23865574.0: 0,
 23859235.0: 0,
 23866653.0: 0,
 23866632.0: 0,
 23866241.0: 0,
 23859732.0: 0,
 23856852.0: 0,
 23866013.0: 1,
 23866968.0: 0,
 23860069.0: 0,
 23855789.0: 0,
 23865503.0: 0,
 23866588.0: 0,
 23865517.0: 0,
 23862872.0: 0,
 23860891.0: 0,
 23861716.0: 0,
 23865148.0: 0,
 23866041.0: 0,
 23866566.0: 0,
 23854924.0: 0,
 23860508.0: 0,
 23863674.0: 0,
 23865227.0: 0,
 23866284.0: 0,
 23865701.0: 0,
 23866451.0: 0,
 23863920.0: 0,
 23866397.0: 0,
 23856891.0: 0,
 23856955.0: 0,
 23866084.0: 0,
 23856117.0: 0,
 23862575.0: 0,
 23866763.0: 0,
 23855923.0: 0,
 23858529.0: 0,
 23865416.0: 0,
 23867030.0: 0,
 23859888.0: 0,
 23855133.0: 1,
 23866351.0: 0,
 23866695.0: 0,
 23866730.0: 0,
 23859078.0: 0,
 23865421.0: 0,
 23866871.0: 0,
 23865054.0: 0,
 23865663.0: 0,
 23863732.0: 1,
 23866512.0: 0,
 23865537.0: 1,
 23857157.0: 0,
 23855399.0: 0,
 23856404.0: 0,
 23866334.0: 0,
 23865953.0: 0,
 23867032.0: 0,
 23866857.0: 0,
 23861042.0: 0,
 23862312.0: 1,
 23866201.0: 0,
 23867017.0: 0,
 23855170.0: 0,
 23861934.0: 0,
 23861002.0: 0,
 23858756.0: 0,
 23864727.0: 0,
 23855873.0: 0,
 23866302.0: 0,
 23865394.0: 0,
 23860957.0: 0,
 23865249.0: 0,
 23862695.0: 0,
 23865795.0: 1,
 23866741.0: 1,
 23858360.0: 0,
 23866983.0: 0,
 23864684.0: 0,
 23859685.0: 0,
 23865066.0: 0,
 23860339.0: 0,
 23865817.0: 0,
 23861025.0: 0,
 23865048.0: 0,
 23866645.0: 0,
 23857750.0: 0,
 23864559.0: 0,
 23862151.0: 0,
 23857163.0: 0,
 23858074.0: 0,
 23860112.0: 0,
 23866902.0: 0,
 23865875.0: 0,
 23855373.0: 0,
 23866863.0: 0,
 23855887.0: 0,
 23866467.0: 0,
 23855414.0: 0,
 23865081.0: 0,
 23856897.0: 0,
 23855564.0: 0,
 23866253.0: 0,
 23865001.0: 1,
 23865662.0: 0,
 23865613.0: 0,
 23857490.0: 0,
 23860018.0: 0,
 23866053.0: 0,
 23865228.0: 0,
 23854696.0: 0,
 23866230.0: 0,
 23854972.0: 0,
 23860179.0: 0,
 23855786.0: 0,
 23866030.0: 0,
 23866290.0: 0,
 23865949.0: 0,
 23865426.0: 0,
 23865876.0: 0,
 23866946.0: 0,
 23855736.0: 0,
 23867045.0: 0,
 23866228.0: 0,
 23866901.0: 0,
 23863481.0: 0,
 23867041.0: 0,
 23856811.0: 0,
 23867094.0: 0,
 23856789.0: 0,
 23866911.0: 0,
 23864317.0: 0,
 23863835.0: 0,
 23859812.0: 0,
 23865104.0: 0,
 23855195.0: 0,
 23859341.0: 0,
 23863341.0: 0,
 23865112.0: 0,
 23857086.0: 0,
 23859956.0: 0,
 23860217.0: 0,
 23857394.0: 0,
 23865920.0: 0,
 23858704.0: 0,
 23865542.0: 0,
 23866504.0: 0,
 23859790.0: 0,
 23859381.0: 0,
 23865222.0: 0,
 23866917.0: 0,
 23860770.0: 0,
 23857250.0: 0,
 23865956.0: 0,
 23865889.0: 0,
 23861541.0: 0,
 23861828.0: 0,
 23865986.0: 0,
 23865387.0: 0,
 23862177.0: 0,
 23862215.0: 0,
 23863427.0: 0,
 23866087.0: 0,
 23865890.0: 0,
 23860787.0: 0,
 23865380.0: 0,
 23866465.0: 0,
 23865281.0: 0,
 23856036.0: 0,
 23860224.0: 0,
 23866907.0: 0,
 23866876.0: 0,
 23866672.0: 0,
 23863021.0: 0,
 23854793.0: 0,
 23854978.0: 0,
 23855594.0: 0,
 23866870.0: 0,
 23866837.0: 0,
 23865482.0: 0,
 23857280.0: 0,
 23857701.0: 0,
 23858370.0: 0,
 23860700.0: 0,
 23865039.0: 0,
 23858971.0: 0,
 23858592.0: 0,
 23866347.0: 0,
 23864866.0: 0,
 23866986.0: 0,
 23861862.0: 0,
 23866891.0: 0,
 23866850.0: 0,
 23857895.0: 0,
 23855098.0: 0,
 23865676.0: 0,
 23863733.0: 0,
 23866494.0: 0,
 23866204.0: 0,
 23863222.0: 0,
 23865464.0: 0,
 23854414.0: 0,
 23866050.0: 0,
 23865719.0: 0,
 23865726.0: 0,
 23866989.0: 0,
 23867042.0: 1,
 23859343.0: 0,
 23865903.0: 1,
 23865003.0: 0,
 23866221.0: 0,
 23866078.0: 0,
 23859798.0: 0,
 23863443.0: 0,
 23866570.0: 1,
 23860920.0: 0,
 23866227.0: 0,
 23855181.0: 0,
 23866662.0: 0,
 23862136.0: 0,
 23855794.0: 0,
 23862060.0: 0,
 23855501.0: 0,
 23866299.0: 0,
 23862989.0: 0,
 23855568.0: 0,
 23865471.0: 0,
 23865181.0: 0,
 23864874.0: 0,
 23855160.0: 0,
 23866934.0: 0,
 23866631.0: 0,
 23866382.0: 1,
 23854958.0: 0,
 23860113.0: 0,
 23860145.0: 0,
 23866686.0: 0,
 23866067.0: 1,
 23866149.0: 0,
 23858614.0: 0,
 23867063.0: 0,
 23866024.0: 0,
 23866019.0: 0,
 23865758.0: 0,
 23865622.0: 0,
 23858287.0: 0,
 23855497.0: 0,
 23866903.0: 0,
 23863801.0: 0,
 23865822.0: 0,
 23860861.0: 0,
 23858036.0: 0,
 23866969.0: 0,
 23865853.0: 0,
 23855057.0: 0,
 23857885.0: 0,
 23866966.0: 0,
 23864685.0: 0,
 23860783.0: 0,
 23867093.0: 0,
 23856849.0: 0,
 23866810.0: 0,
 23860634.0: 0,
 23867057.0: 0,
 23863715.0: 0,
 23865577.0: 0,
 23866513.0: 0,
 23866862.0: 0,
 23857067.0: 0,
 23867104.0: 0,
 23857181.0: 0,
 23866025.0: 0,
 23865483.0: 0,
 23865991.0: 0,
 23865496.0: 0,
 23865119.0: 0,
 23866880.0: 0,
 23867002.0: 0,
 23855596.0: 0,
 23866688.0: 0,
 23865894.0: 0,
 23866469.0: 0,
 23864523.0: 0,
 23866274.0: 0,
 23865900.0: 0,
 23865080.0: 0,
 23866007.0: 0,
 23866538.0: 0,
 23858538.0: 0,
 23855729.0: 0,
 23866974.0: 0,
 23857673.0: 0,
 23866377.0: 1,
 23857791.0: 0,
 23858891.0: 0,
 23865562.0: 0,
 23864553.0: 0,
 23866656.0: 0,
 23866793.0: 0,
 23865060.0: 1,
 23865442.0: 0,
 23859162.0: 0,
 23866712.0: 0,
 23864800.0: 0,
 23866011.0: 0,
 23865621.0: 0,
 23865216.0: 0,
 23865752.0: 1,
 23865704.0: 0,
 23865408.0: 0,
 23865472.0: 0,
 23866609.0: 1,
 23856947.0: 0,
 23864483.0: 0,
 23864319.0: 0,
 23860266.0: 0,
 23857491.0: 0,
 23865021.0: 0,
 23856430.0: 0,
 23866369.0: 0,
 23867039.0: 0,
 23864588.0: 0,
 23864213.0: 0,
 23856785.0: 0,
 23867070.0: 0,
 23865975.0: 0,
 23865943.0: 0,
 23865743.0: 0,
 23855184.0: 0,
 23866965.0: 0,
 23860139.0: 0,
 23866845.0: 0,
 23866996.0: 0,
 23866933.0: 0,
 23866219.0: 1,
 23860716.0: 0,
 23866177.0: 1,
 23861421.0: 0,
 23855097.0: 0,
 23866783.0: 0,
 23864508.0: 0,
 23861166.0: 0,
 23861045.0: 0,
 23860267.0: 0,
 23861364.0: 0,
 23867087.0: 0,
 23865687.0: 0,
 23867086.0: 0,
 23866865.0: 0,
 23862582.0: 0,
 23862615.0: 0,
 23864776.0: 0,
 23866743.0: 0,
 23866990.0: 0,
 23866931.0: 0,
 23860366.0: 1,
 23866709.0: 0,
 23864788.0: 0,
 23866714.0: 0,
 23866940.0: 0,
 23866719.0: 0,
 23866745.0: 0,
 23861053.0: 0,
 23866130.0: 0,
 23855027.0: 0,
 23866674.0: 0,
 23861007.0: 0,
 23865051.0: 1,
 23857899.0: 0,
 23865715.0: 0,
 23863789.0: 0,
 23866859.0: 0,
 23866181.0: 0,
 23864574.0: 0,
 23856598.0: 0,
 23856462.0: 0,
 23863192.0: 0,
 23866935.0: 0,
 23855223.0: 0,
 23866856.0: 1,
 23858392.0: 0,
 23865740.0: 0,
 23866516.0: 0,
 23856886.0: 0,
 23866999.0: 0,
 23867033.0: 0,
 23866113.0: 0,
 23864824.0: 0,
 23860213.0: 0,
 23866847.0: 0,
 23865325.0: 0,
 23863857.0: 0,
 23865520.0: 0,
 23866684.0: 1,
 23866412.0: 0,
 23858706.0: 0,
 23857347.0: 0,
 23857378.0: 0,
 23864993.0: 0,
 23858605.0: 0,
 23864794.0: 0,
 23857794.0: 0,
 23864532.0: 0,
 23858446.0: 0,
 23865029.0: 0,
 23858050.0: 0,
 23861939.0: 0,
 23867003.0: 0,
 23865873.0: 0,
 23856188.0: 0,
 23867015.0: 0,
 23854867.0: 0,
 23858829.0: 0,
 23866918.0: 0,
 23858115.0: 0,
 23858171.0: 0,
 23862867.0: 0,
 23854905.0: 0,
 23858086.0: 0,
 23865589.0: 0,
 23865155.0: 0,
 23866886.0: 0,
 23866975.0: 0,
 23854631.0: 0,
 23865242.0: 0,
 23865392.0: 1,
 23865093.0: 0,
 23866916.0: 0,
 23865448.0: 0,
 23866625.0: 0,
 23865532.0: 0,
 23866993.0: 0,
 23854408.0: 0,
 23855539.0: 0,
 23855492.0: 0,
 23854733.0: 0,
 23858546.0: 0,
 23866953.0: 0,
 23866028.0: 0,
 23867009.0: 1,
 23855104.0: 0,
 23855302.0: 0,
 23865598.0: 0,
 23866937.0: 0,
 23855776.0: 0,
 23855239.0: 0,
 23859253.0: 0,
 23866352.0: 0,
 23862140.0: 0,
 23856256.0: 0,
 23856352.0: 0,
 23862821.0: 0,
 23864846.0: 0,
 23866104.0: 0,
 23858031.0: 1,
 23866806.0: 0,
 23860093.0: 0,
 23857189.0: 0,
 23866040.0: 0,
 23867010.0: 0,
 23861511.0: 1,
 23857940.0: 0,
 23866056.0: 0,
 23866894.0: 0,
 23856973.0: 0,
 23854956.0: 0,
 23861952.0: 0,
 23865340.0: 1,
 23855476.0: 0,
 23866229.0: 1,
 23862117.0: 0,
 23865863.0: 0,
 23863692.0: 0,
 23856572.0: 0,
 23865702.0: 0,
 23862403.0: 0,
 23862528.0: 1,
 23865657.0: 0,
 23854906.0: 0,
 23854926.0: 0,
 23855287.0: 0,
 23856175.0: 1,
 23865415.0: 0,
 23865658.0: 0,
 23865571.0: 0,
 23865737.0: 0,
 23866051.0: 0,
 23867073.0: 0,
 23855418.0: 0,
 23866923.0: 0,
 23855518.0: 0,
 23857194.0: 0,
 23856505.0: 0,
 23864847.0: 0,
 23854774.0: 0,
 23856047.0: 0,
 23864493.0: 0,
 23866288.0: 0,
 23860227.0: 0,
 23860256.0: 0,
 23857604.0: 0,
 23865512.0: 1,
 23857637.0: 0,
 23862265.0: 0,
 23855797.0: 0,
 23857473.0: 0,
 23860832.0: 0,
 23865049.0: 0,
 23866775.0: 1,
 23854918.0: 0,
 23866867.0: 1,
 23859606.0: 0,
 23859693.0: 0,
 23866345.0: 0,
 23863892.0: 1,
 23863864.0: 0,
 23854677.0: 0,
 23865486.0: 0,
 23858871.0: 0,
 23864489.0: 0,
 23864914.0: 0,
 23859188.0: 0,
 23854837.0: 0,
 23858890.0: 0,
 23858809.0: 0,
 23858962.0: 0,
 23866186.0: 0,
 23860264.0: 0,
 23866670.0: 0,
 23866380.0: 0,
 23859884.0: 0,
 23866409.0: 0,
 23863211.0: 0,
 23865865.0: 0,
 23855385.0: 0,
 23859750.0: 0,
 23863056.0: 0,
 23866788.0: 1,
 23866571.0: 0,
 23866691.0: 1,
 23862932.0: 0,
 23862742.0: 0,
 23862202.0: 0,
 23866915.0: 0,
 23858520.0: 0,
 23866829.0: 0,
 23865972.0: 0,
 23866883.0: 0,
 23866522.0: 0,
 23859279.0: 0,
 23866800.0: 0,
 23866110.0: 0,
 23866948.0: 0,
 23866984.0: 0,
 23859636.0: 0,
 23866222.0: 0,
 23866479.0: 0,
 23861354.0: 0,
 23859464.0: 0,
 23854939.0: 0,
 23866160.0: 0,
 23860228.0: 0,
 23866018.0: 0,
 23860599.0: 0,
 23865465.0: 0,
 23865579.0: 0,
 23866713.0: 0,
 23865107.0: 0,
 23858132.0: 0,
 23858174.0: 0,
 23864905.0: 0,
 23866746.0: 0,
 23855478.0: 0,
 23857949.0: 0,
 23865852.0: 1,
 23860187.0: 0,
 23865129.0: 0,
 23865158.0: 0,
 23865187.0: 0,
 23865509.0: 0,
 23860666.0: 0,
 23857585.0: 0,
 23857069.0: 0,
 23861039.0: 0,
 23856851.0: 0,
 23865655.0: 0,
 23856713.0: 0,
 23866608.0: 0,
 23865609.0: 0,
 23856703.0: 0,
 23865615.0: 1,
 23856301.0: 0,
 23867075.0: 0,
 23860166.0: 0,
 23863371.0: 0,
 23865614.0: 0,
 23862184.0: 0,
 23866577.0: 0,
 23862099.0: 0,
 23866607.0: 0,
 23861930.0: 0,
 23867047.0: 0,
 23866293.0: 1,
 23856158.0: 1,
 23856125.0: 0,
 23861061.0: 0,
 23866472.0: 0,
 23866379.0: 0,
 23866602.0: 0,
 23866258.0: 0,
 23860107.0: 0,
 23866126.0: 0,
 23859811.0: 0,
 23866103.0: 1,
 23859368.0: 0,
 23866914.0: 0,
 23866095.0: 0,
 23866787.0: 0,
 23866594.0: 0,
 23855513.0: 0,
 23865690.0: 0,
 23866022.0: 0,
 23865926.0: 0,
 23862298.0: 0,
 23866386.0: 0,
 23866952.0: 0,
 23856876.0: 0,
 23858831.0: 0,
 23858854.0: 0,
 23866646.0: 0,
 23858632.0: 0,
 23858451.0: 0,
 23866957.0: 0,
 23857992.0: 0,
 23866988.0: 0,
 23866590.0: 0,
 23857464.0: 0,
 23857170.0: 0,
 23856977.0: 0,
 23866393.0: 0,
 23855180.0: 0,
 23856663.0: 0,
 23866735.0: 0,
 23866640.0: 0,
 23866583.0: 1,
 23855915.0: 0,
 23855783.0: 0,
 23856543.0: 0,
 23866799.0: 0,
 23863151.0: 0,
 23863015.0: 0,
 23866331.0: 0,
 23862811.0: 0,
 23865987.0: 0,
 23865607.0: 0,
 23858134.0: 0,
 23865826.0: 0,
 23866995.0: 0,
 23866869.0: 1,
 23867028.0: 0,
 23863212.0: 0,
 23862933.0: 0,
 23866959.0: 0,
 23866836.0: 0,
 23866896.0: 0,
 23862047.0: 0,
 23866807.0: 0,
 23866484.0: 0,
 23866557.0: 0,
 23866523.0: 0,
 23866954.0: 0,
 23866985.0: 0,
 23866388.0: 0,
 23860340.0: 0,
 23866514.0: 0,
 23860020.0: 1,
 23860088.0: 0,
 23866825.0: 1,
 23866855.0: 0,
 23866796.0: 1,
 23859549.0: 0,
 23866542.0: 0,
 23866980.0: 0,
 23866884.0: 0,
 23856108.0: 0,
 23856177.0: 0,
 23856788.0: 0,
 23865272.0: 0,
 23865386.0: 0,
 23864586.0: 0,
 23864774.0: 0,
 23865514.0: 0,
 23865193.0: 0,
 23865395.0: 0,
 23863830.0: 0,
 23865585.0: 0,
 23863671.0: 0,
 23864881.0: 0,
 23865106.0: 0,
 23865341.0: 0,
 23864783.0: 1,
 23857041.0: 0,
 23864757.0: 0,
 23862321.0: 0,
 23864790.0: 1,
 23859130.0: 0,
 23854957.0: 0,
 23858133.0: 0,
 23858102.0: 0,
 23867069.0: 0,
 23857838.0: 1,
 23857714.0: 0,
 23857613.0: 0,
 23866908.0: 0,
 23858919.0: 0,
 23860246.0: 0,
 23866706.0: 0,
 23866928.0: 0,
 23866353.0: 0,
 23867013.0: 0,
 23866820.0: 0,
 23866759.0: 0,
 23866440.0: 0,
 23866470.0: 0,
 23865906.0: 0,
 23866107.0: 0,
 23865969.0: 0,
 23866124.0: 0,
 23866032.0: 0,
 23857208.0: 0,
 23865714.0: 0,
 23866720.0: 0,
 23866560.0: 0,
 23866532.0: 0,
 23866497.0: 0,
 23865605.0: 0,
 23865568.0: 0,
 23865504.0: 0,
 23865344.0: 0,
 23865184.0: 0,
 23864619.0: 0,
 23864578.0: 0,
 23864513.0: 0,
 23863943.0: 0,
 23863685.0: 0,
 23866885.0: 0,
 23866384.0: 0,
 23859414.0: 0,
 23855498.0: 0,
 23857816.0: 0,
 23857753.0: 0,
 23854439.0: 0,
 23857677.0: 0,
 23854582.0: 0,
 23854666.0: 0,
 23857200.0: 0,
 23857022.0: 0,
 23856636.0: 0,
 23856110.0: 0,
 23860795.0: 0,
 23867034.0: 0,
 23867065.0: 0,
 23866665.0: 0,
 23860252.0: 0,
 23866904.0: 0,
 23866492.0: 0,
 23867024.0: 0,
 23861068.0: 0,
 23866738.0: 0,
 23860848.0: 0,
 23866831.0: 1,
 23866860.0: 0,
 23867018.0: 0,
 23866303.0: 0,
 23866733.0: 1,
 23863627.0: 0,
 23863587.0: 0,
 23863360.0: 0,
 23864786.0: 0,
 23854914.0: 0,
 23854828.0: 1,
 23854336.0: 0,
 23865261.0: 0,
 23865225.0: 0,
 23865484.0: 0,
 23856468.0: 0,
 23865065.0: 0,
 23865402.0: 0,
 23865560.0: 0,
 23864926.0: 0,
 23864598.0: 0,
 23863709.0: 0,
 23856097.0: 0,
 23855347.0: 0,
 23865085.0: 1,
 23855283.0: 0,
 23864501.0: 0,
 23867004.0: 0,
 23864795.0: 0,
 23867067.0: 0,
 23866906.0: 0,
 23866872.0: 0,
 23854428.0: 0,
 23866962.0: 0,
 23854927.0: 0,
 23855206.0: 1,
 23856768.0: 0,
 23863171.0: 0,
 23859943.0: 0,
 23862945.0: 0,
 23862894.0: 0,
 23862567.0: 0,
 23862394.0: 0,
 23862016.0: 0,
 23861697.0: 0,
 23861338.0: 0,
 23861141.0: 0,
 23860738.0: 0,
 23860704.0: 1,
 23860679.0: 0,
 23860096.0: 0,
 23859616.0: 0,
 23857058.0: 0,
 23859361.0: 0,
 23859264.0: 0,
 23859168.0: 0,
 23859141.0: 0,
 23859008.0: 0,
 23858504.0: 0,
 23858412.0: 0,
 23858368.0: 0,
 23858030.0: 0,
 23857952.0: 0,
 23857472.0: 0,
 23857129.0: 0,
 23854588.0: 0,
 23861726.0: 0,
 23859806.0: 0,
 ...}

## Деление набора

In [13]:
list_index = data['Дата увольнения (если была в отчетном периоде)'].value_counts().index

In [14]:
data['Уволен'] = data['Дата увольнения (если была в отчетном периоде)'].apply(lambda x: x in list_index)

In [15]:
first_data = data[data['Уволен']]
second_data = data[data['Уволен']==False]

# Работа с увольниками

In [16]:
first_data['Стаж'] = first_data['Дата увольнения (если была в отчетном периоде)'] - first_data['Дата приема']
first_data['Стаж'] = first_data['Стаж'].apply(lambda x: x.days / 365.25)

In [17]:
first_data['Наименование отсутствия'].fillna('0', inplace=True)
first_data['Календарные дни отсутствия'].fillna(0, inplace=True)

In [18]:
first_data['Наименование отсутствия'] = first_data['Наименование отсутствия'].apply(lambda x: x.strip())

In [19]:
first_data['Наименование отсутствия'].value_counts()

0                          63
Отпуск                     62
Прочие отсутствия          29
Лист нетрудоспособности    15
Лист нетрудоспособости      2
Командировка                1
Name: Наименование отсутствия, dtype: int64

In [20]:
id_preson = first_data['ID'].value_counts().index

In [21]:
first_data

,ID,Должность,Пол,Семейное положение,Дата приема,Дата увольнения (если была в отчетном периоде),Наименование отсутствия,Календарные дни отсутствия,Оклад/тариф на конец отчетного периода,Город в адресе регистрации на конец отчетного периода,Количество детей,Возраст,Молодая кровь,Уволен,Стаж
427,23856193.0,Специалист,мужской,Жен/ЗМ,1987-02-01,2020-01-10,Отпуск,2.0,28600.0,Москва,2.0,57.0,False,True,32.939083
797,23857746.0,Специалист,женский,Жен/ЗМ,2000-05-12,2020-01-30,Отпуск,2.0,52500.0,Москва,2.0,48.0,False,True,19.718001
798,23857746.0,Специалист,женский,Жен/ЗМ,2000-05-12,2020-01-30,Отпуск,1.0,52500.0,Москва,2.0,48.0,False,True,19.718001
799,23857746.0,Специалист,женский,Жен/ЗМ,2000-05-12,2020-01-30,Отпуск,1.0,52500.0,Москва,2.0,48.0,False,True,19.718001
1298,23860425.0,Специалист,мужской,Жен/ЗМ,1993-05-04,2020-01-12,Отпуск,1.0,38600.0,Москва,1.0,55.0,False,True,26.691307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42138,23856158.0,Специалист,мужской,Жен/ЗМ,1996-01-02,2020-12-13,Лист нетрудоспособности,13.0,67080.0,Москва,1.0,49.0,False,True,24.947296
42435,23857336.0,Специалист,женский,Жен/ЗМ,1985-07-19,2020-12-09,Лист нетрудоспособности,8.0,26010.0,Москва,2.0,61.0,False,True,35.392197
42436,23857336.0,Специалист,женский,Жен/ЗМ,1985-07-19,2020-12-09,Отпуск,1.0,26010.0,Москва,2.0,61.0,False,True,35.392197
43021,23860388.0,Специалист,мужской,Разв.,1998-01-07,2020-12-25,0,0.0,26010.0,Москва,2.0,69.0,False,True,22.965092
43025,23860478.0,Специалист,мужской,Разв.,1998-01-16,2020-12-11,0,0.0,23740.0,Москва,2.0,61.0,False,True,22.902122

In [22]:
result = pd.DataFrame(columns=first_data.columns)
for step,i in enumerate(id_preson):
    time = first_data[first_data['ID']==i]
    a = np.array(time.iloc[0])
    a[7] = sum(time[time['Наименование отсутствия'] != 'Отпуск']['Календарные дни отсутствия'])
    result.loc[step] = a

In [23]:
result.drop(['Дата приема'], axis=1,inplace=True)

In [24]:
result

,ID,Должность,Пол,Семейное положение,Дата увольнения (если была в отчетном периоде),Наименование отсутствия,Календарные дни отсутствия,Оклад/тариф на конец отчетного периода,Город в адресе регистрации на конец отчетного периода,Количество детей,Возраст,Молодая кровь,Уволен,Стаж
0,23866494.0,инженер,мужской,Жен/ЗМ,2020-06-30,Отпуск,10.0,36800.0,Москва,3.0,43.0,False,True,4.542094
1,23866000.0,Специалист,мужской,Разв.,2020-06-22,Лист нетрудоспособности,25.0,36800.0,Москва,0.0,40.0,False,True,7.586585
2,23866675.0,Специалист,мужской,Разв.,2020-10-25,Лист нетрудоспособости,15.0,37980.0,Москва,1.0,37.0,False,True,2.995209
3,23855987.0,Специалист,мужской,Жен/ЗМ,2020-11-20,Лист нетрудоспособности,5.0,25800.0,Москва,2.0,60.0,False,True,30.143737
4,23862167.0,Специалист,мужской,Жен/ЗМ,2020-04-27,Отпуск,0.0,33600.0,Москва,2.0,66.0,False,True,26.652977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,23859806.0,машинист,мужской,Жен/ЗМ,2021-03-21,0,0.0,22300.0,Москва,3.0,63.0,False,True,33.054073
126,23859810.0,Специалист,женский,Жен/ЗМ,2020-08-04,0,0.0,36800.0,Москва,1.0,43.0,False,True,22.877481
127,23865736.0,Специалист,мужской,Жен/ЗМ,2020-11-29,0,0.0,37980.0,Москва,1.0,36.0,False,True,9.423682
128,23866473.0,инженер,мужской,Жен/ЗМ,2020-08-31,0,0.0,36800.0,Москва,0.0,33.0,True,True,4.878850
129,23855133.0,Специалист,мужской,Жен/ЗМ,2020-07-10,Отпуск,0.0,42300.0,Москва,3.0,64.0,False,True,25.511294

In [25]:
result['Дата увольнения (если была в отчетном периоде)'].iloc[0]

Timestamp('2020-06-30 00:00:00')

In [26]:
result['Дата увольнения (если была в отчетном периоде)'].iloc[0].month

6

In [27]:
season_dict = {}
for i in range(1,13):
    if i in [12,1,2]:
        season_dict[i] = 'Зима'
    elif i in [3,4,5]:
        season_dict[i] = 'Весна'
    elif i in [6,7,8]:
        season_dict[i] = 'Лето'
    elif i in [9,10,11]:
        season_dict[i] = 'Осень'

In [28]:
result['Сезон'] = result['Дата увольнения (если была в отчетном периоде)'].apply(lambda x: season_dict[int(x.month)])

In [29]:
result.drop('Дата увольнения (если была в отчетном периоде)',axis=1,inplace=True)

In [30]:
result

,ID,Должность,Пол,Семейное положение,Наименование отсутствия,Календарные дни отсутствия,Оклад/тариф на конец отчетного периода,Город в адресе регистрации на конец отчетного периода,Количество детей,Возраст,Молодая кровь,Уволен,Стаж,Сезон
0,23866494.0,инженер,мужской,Жен/ЗМ,Отпуск,10.0,36800.0,Москва,3.0,43.0,False,True,4.542094,Лето
1,23866000.0,Специалист,мужской,Разв.,Лист нетрудоспособности,25.0,36800.0,Москва,0.0,40.0,False,True,7.586585,Лето
2,23866675.0,Специалист,мужской,Разв.,Лист нетрудоспособости,15.0,37980.0,Москва,1.0,37.0,False,True,2.995209,Осень
3,23855987.0,Специалист,мужской,Жен/ЗМ,Лист нетрудоспособности,5.0,25800.0,Москва,2.0,60.0,False,True,30.143737,Осень
4,23862167.0,Специалист,мужской,Жен/ЗМ,Отпуск,0.0,33600.0,Москва,2.0,66.0,False,True,26.652977,Весна
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,23859806.0,машинист,мужской,Жен/ЗМ,0,0.0,22300.0,Москва,3.0,63.0,False,True,33.054073,Весна
126,23859810.0,Специалист,женский,Жен/ЗМ,0,0.0,36800.0,Москва,1.0,43.0,False,True,22.877481,Лето
127,23865736.0,Специалист,мужской,Жен/ЗМ,0,0.0,37980.0,Москва,1.0,36.0,False,True,9.423682,Осень
128,23866473.0,инженер,мужской,Жен/ЗМ,0,0.0,36800.0,Москва,0.0,33.0,True,True,4.878850,Лето
129,23855133.0,Специалист,мужской,Жен/ЗМ,Отпуск,0.0,42300.0,Москва,3.0,64.0,False,True,25.511294,Лето

# Работа с действующими сотрудниками

In [31]:
second_data['Наименование отсутствия'].fillna('0', inplace=True)
second_data['Календарные дни отсутствия'].fillna(0, inplace=True)

In [32]:
second_data['Сезон'] = ['']*second_data.shape[0]

In [33]:
second_data['Стаж'] = second_data['Дата приема'].apply(lambda x: np.round((pd.Timestamp('2021-09-25')-x).days / 365.25))
second_data.drop('Дата приема', axis=1, inplace=True)
second_data.drop('Дата увольнения (если была в отчетном периоде)', axis=1, inplace=True)
second_data

,ID,Должность,Пол,Семейное положение,Наименование отсутствия,Календарные дни отсутствия,Оклад/тариф на конец отчетного периода,Город в адресе регистрации на конец отчетного периода,Количество детей,Возраст,Молодая кровь,Уволен,Сезон,Стаж
0,23854332.0,Ведущий инженер,женский,Разв.,0,0.0,38600.0,Москва,1.0,65.0,False,False,,39.0
1,23854336.0,машинист,мужской,Жен/ЗМ,0,0.0,25200.0,Москва,2.0,62.0,False,False,,20.0
2,23854339.0,инженер,мужской,Жен/ЗМ,0,0.0,42300.0,Москва,1.0,42.0,False,False,,20.0
3,23854353.0,начальник смены,мужской,Жен/ЗМ,Прочие отсутствия,1.0,65000.0,Москва,1.0,42.0,False,False,,20.0
4,23854358.0,Ведущий инженер,мужской,Жен/ЗМ,0,0.0,52500.0,Москва,1.0,59.0,False,False,,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45472,23867211.0,машинист,мужской,Разв.,0,0.0,33340.0,Москва,0.0,27.0,True,False,,1.0
45473,23867212.0,эксперт,мужской,Жен/ЗМ,0,0.0,48720.0,Москва,2.0,51.0,False,False,,1.0
45474,23867213.0,машинист,мужской,Разв.,0,0.0,33340.0,Москва,0.0,24.0,True,False,,1.0
45475,23874344.0,оператор,мужской,Хол/НЗ,0,0.0,33340.0,Москва,0.0,26.0,True,False,,1.0
45476,23874347.0,оператор,мужской,Хол/НЗ,0,0.0,33340.0,Москва,0.0,25.0,True,False,,1.0

In [34]:
id_preson=second_data['ID'].value_counts().index

In [35]:
result2 = pd.DataFrame(columns=second_data.columns)
for step,i in enumerate(id_preson):
    time = second_data[second_data['ID']==i]
    a = np.array(time.iloc[-1])
    a[5] = sum(time[time['Наименование отсутствия'] != 'Отпуск']['Календарные дни отсутствия'])
    result2.loc[step] = a

In [36]:
result2

,ID,Должность,Пол,Семейное положение,Наименование отсутствия,Календарные дни отсутствия,Оклад/тариф на конец отчетного периода,Город в адресе регистрации на конец отчетного периода,Количество детей,Возраст,Молодая кровь,Уволен,Сезон,Стаж
0,23866725.0,инженер,женский,Вдов.,Прочие отсутствия,147.0,37980.0,Москва,1.0,40.0,False,False,,4.0
1,23854589.0,инженер,женский,Жен/ЗМ,Прочие отсутствия,87.0,37980.0,Москва,2.0,42.0,False,False,,20.0
2,23867127.0,инженер,женский,Жен/ЗМ,Прочие отсутствия,90.0,37980.0,Москва,1.0,37.0,False,False,,1.0
3,23865739.0,Ведущий инженер,мужской,Жен/ЗМ,Отпуск,12.0,43660.0,Москва,3.0,38.0,False,False,,10.0
4,23864467.0,Ведущий инженер,женский,Жен/ЗМ,0,46.0,43660.0,Москва,2.0,43.0,False,False,,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3430,23857580.0,слесарь,мужской,Жен/ЗМ,0,0.0,25000.0,Москва,2.0,62.0,False,False,,34.0
3431,23867185.0,слесарь,мужской,Хол/НЗ,0,0.0,23020.0,Москва,0.0,23.0,True,False,,1.0
3432,23865867.0,электрослесарь,мужской,Хол/НЗ,Отпуск,21.0,28600.0,Москва,1.0,33.0,True,False,,9.0
3433,23867192.0,инженер,женский,Жен/ЗМ,0,0.0,37980.0,Москва,1.0,38.0,False,False,,1.0
3434,23867199.0,электрослесарь,мужской,Хол/НЗ,0,0.0,29520.0,Москва,0.0,23.0,True,False,,1.0

In [37]:
result

,ID,Должность,Пол,Семейное положение,Наименование отсутствия,Календарные дни отсутствия,Оклад/тариф на конец отчетного периода,Город в адресе регистрации на конец отчетного периода,Количество детей,Возраст,Молодая кровь,Уволен,Стаж,Сезон
0,23866494.0,инженер,мужской,Жен/ЗМ,Отпуск,10.0,36800.0,Москва,3.0,43.0,False,True,4.542094,Лето
1,23866000.0,Специалист,мужской,Разв.,Лист нетрудоспособности,25.0,36800.0,Москва,0.0,40.0,False,True,7.586585,Лето
2,23866675.0,Специалист,мужской,Разв.,Лист нетрудоспособости,15.0,37980.0,Москва,1.0,37.0,False,True,2.995209,Осень
3,23855987.0,Специалист,мужской,Жен/ЗМ,Лист нетрудоспособности,5.0,25800.0,Москва,2.0,60.0,False,True,30.143737,Осень
4,23862167.0,Специалист,мужской,Жен/ЗМ,Отпуск,0.0,33600.0,Москва,2.0,66.0,False,True,26.652977,Весна
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,23859806.0,машинист,мужской,Жен/ЗМ,0,0.0,22300.0,Москва,3.0,63.0,False,True,33.054073,Весна
126,23859810.0,Специалист,женский,Жен/ЗМ,0,0.0,36800.0,Москва,1.0,43.0,False,True,22.877481,Лето
127,23865736.0,Специалист,мужской,Жен/ЗМ,0,0.0,37980.0,Москва,1.0,36.0,False,True,9.423682,Осень
128,23866473.0,инженер,мужской,Жен/ЗМ,0,0.0,36800.0,Москва,0.0,33.0,True,True,4.878850,Лето
129,23855133.0,Специалист,мужской,Жен/ЗМ,Отпуск,0.0,42300.0,Москва,3.0,64.0,False,True,25.511294,Лето

# Соединение двух наборов

In [38]:
er = pd.concat([result,result2], axis=0)

In [39]:
er

,ID,Возраст,Город в адресе регистрации на конец отчетного периода,Должность,Календарные дни отсутствия,Количество детей,Молодая кровь,Наименование отсутствия,Оклад/тариф на конец отчетного периода,Пол,Сезон,Семейное положение,Стаж,Уволен
0,23866494.0,43.0,Москва,инженер,10.0,3.0,False,Отпуск,36800.0,мужской,Лето,Жен/ЗМ,4.542094,True
1,23866000.0,40.0,Москва,Специалист,25.0,0.0,False,Лист нетрудоспособности,36800.0,мужской,Лето,Разв.,7.586585,True
2,23866675.0,37.0,Москва,Специалист,15.0,1.0,False,Лист нетрудоспособости,37980.0,мужской,Осень,Разв.,2.995209,True
3,23855987.0,60.0,Москва,Специалист,5.0,2.0,False,Лист нетрудоспособности,25800.0,мужской,Осень,Жен/ЗМ,30.143737,True
4,23862167.0,66.0,Москва,Специалист,0.0,2.0,False,Отпуск,33600.0,мужской,Весна,Жен/ЗМ,26.652977,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3430,23857580.0,62.0,Москва,слесарь,0.0,2.0,False,0,25000.0,мужской,,Жен/ЗМ,34.000000,False
3431,23867185.0,23.0,Москва,слесарь,0.0,0.0,True,0,23020.0,мужской,,Хол/НЗ,1.000000,False
3432,23865867.0,33.0,Москва,электрослесарь,21.0,1.0,True,Отпуск,28600.0,мужской,,Хол/НЗ,9.000000,False
3433,23867192.0,38.0,Москва,инженер,0.0,1.0,False,0,37980.0,женский,,Жен/ЗМ,1.000000,False
3434,23867199.0,23.0,Москва,электрослесарь,0.0,0.0,True,0,29520.0,мужской,,Хол/НЗ,1.000000,False

In [40]:
q = er['ID'].value_counts().index

In [41]:
data = pd.DataFrame(columns=er.columns)
for step,i in enumerate(q):
    time = er[er['ID']==i]
    a = np.array(time.iloc[-1])
    a[4] = sum(time['Календарные дни отсутствия'])
    a[13] = sum(time['Уволен'])
    data.loc[step] = a

In [42]:
data

,ID,Возраст,Город в адресе регистрации на конец отчетного периода,Должность,Календарные дни отсутствия,Количество детей,Молодая кровь,Наименование отсутствия,Оклад/тариф на конец отчетного периода,Пол,Сезон,Семейное положение,Стаж,Уволен
0,23855133.0,64.0,Москва,Ведущий инженер,133.0,3.0,False,Отпуск,42300.0,мужской,,Жен/ЗМ,27.0,1
1,23866165.0,40.0,Москва,экономист,207.0,2.0,False,Отпуск,33600.0,женский,,Жен/ЗМ,8.0,1
2,23858052.0,68.0,Москва,начальник смены,2.0,2.0,False,Отпуск,52500.0,мужской,,Жен/ЗМ,40.0,1
3,23865091.0,64.0,Москва,Ведущий инженер,5.0,1.0,False,0,42300.0,женский,,Разв.,15.0,1
4,23866136.0,37.0,Москва,Старший оператор,1.0,2.0,False,0,22300.0,мужской,,Разв.,8.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3445,23865655.0,36.0,Москва,Ведущий инженер,23.0,2.0,False,Лист нетрудоспособности,54180.0,мужской,,Жен/ЗМ,11.0,0
3446,23866799.0,26.0,Белгород,инженер,13.0,0.0,True,Отпуск,43660.0,мужской,,Хол/НЗ,3.0,0
3447,23854753.0,46.0,Москва,начальник смены,28.0,2.0,False,0,67080.0,мужской,,Жен/ЗМ,20.0,0
3448,23864575.0,59.0,Москва,машинист,8.0,2.0,False,0,23740.0,женский,,Жен/ЗМ,16.0,0
3449,23857576.0,46.0,Москва,инженер,0.0,1.0,False,0,37980.0,женский,,Разв.,29.0,0

In [43]:
data.drop('Наименование отсутствия',axis=1,inplace=True)

# Выгрузка действующих городов и вакансий в них

In [44]:
city = data['Город в адресе регистрации на конец отчетного периода'].value_counts().index

In [45]:
d = {}
for i in city:
    d[i] = data[data['Город в адресе регистрации на конец отчетного периода']==i]['Должность'].value_counts().index

In [46]:
d

{'Москва': Index(['инженер', 'Ведущий инженер', 'начальник смены', 'машинист', 'слесарь',
        'электрослесарь', 'оператор', 'инспектор', 'Старший оператор ',
        'лаборант ', 'электромонтер ', 'мастер', 'экономист', 'аппаратчик',
        'диспетчер', 'заместитель начальника цеха', 'Ведущий экономист',
        'Ведущий специалист', 'эксперт', 'Специалист', 'токарь',
        'заместитель начальника отдела', 'главный специалист',
        'кладовщик 3 разряда', 'ведущий бухгалтер', 'техник', 'бухгалтер',
        'заместитель главного инженера', 'начальник цеха', 'электромеханик',
        'ведущий специалист', 'электрогазосварщик 5 разряда',
        'ведущий инструктор', 'электрогазосварщик 6 разряда', 'дежурный',
        'Эксперт', 'заместитель директора', 'заместитель начальника управления',
        'заведующий хозяйством', 'Ведущий инструктор', 'водитель автомобиля',
        'аккумуляторщик ', 'ведущий юрисконсульт',
        'заместитель главного бухгалтера', 'заточник', 'фрезеровщик 5 разряда',
        'Главный специалист', 'электрогазосварщик 4 разряда',
        'фрезеровщик 6 разряда', 'главный инспектор', 'главный бухгалтер',
        'заведующий складом', 'шлифовщик 6 разряда', 'шлифовщик 5 разряда',
        'главный инженер', 'Директор', 'метролог'],
       dtype='object'),
 'Обнинск': Index(['машинист', 'инспектор', 'Ведущий специалист', 'Специалист',
        'кладовщик 3 разряда', 'электромонтер ', 'слесарь', 'Ведущий инженер'],
       dtype='object'),
 'Саратов': Index(['машинист', 'инженер', 'эксперт', 'Ведущий инженер'], dtype='object'),
 'Смоленск': Index(['диспетчер', 'экономист'], dtype='object'),
 'Шиханы': Index(['оператор', 'машинист'], dtype='object'),
 'Камышин': Index(['оператор'], dtype='object'),
 'Щербинка': Index(['токарь'], dtype='object'),
 'Кандалакша': Index(['машинист'], dtype='object'),
 'Омск': Index(['инженер'], dtype='object'),
 'Краснодар': Index(['машинист'], dtype='object'),
 'Пенза': Index(['инженер'], dtype='object'),
 'Иваново': Index(['машинист'], dtype='object'),
 'Белгород': Index(['инженер'], dtype='object'),
 'Кузнецк': Index(['оператор'], dtype='object'),
 'Новоросийск': Index(['инспектор'], dtype='object')}

In [47]:
import pickle

In [48]:
with open('./d.pickle','wb') as my:
    pickle.dump(d,my,protocol=pickle.HIGHEST_PROTOCOL)

# Генерация

## генерация образования

In [49]:
education = {0:'Высшее',1:'Среднее специальное', 2:'Среднее общее'}

In [50]:
data['Образование'] = np.random.randint(3,size=data.shape[0])
data['Образование'] = data['Образование'].apply(lambda x: education[x])

In [51]:
data

,ID,Возраст,Город в адресе регистрации на конец отчетного периода,Должность,Календарные дни отсутствия,Количество детей,Молодая кровь,Оклад/тариф на конец отчетного периода,Пол,Сезон,Семейное положение,Стаж,Уволен,Образование
0,23855133.0,64.0,Москва,Ведущий инженер,133.0,3.0,False,42300.0,мужской,,Жен/ЗМ,27.0,1,Высшее
1,23866165.0,40.0,Москва,экономист,207.0,2.0,False,33600.0,женский,,Жен/ЗМ,8.0,1,Среднее общее
2,23858052.0,68.0,Москва,начальник смены,2.0,2.0,False,52500.0,мужской,,Жен/ЗМ,40.0,1,Высшее
3,23865091.0,64.0,Москва,Ведущий инженер,5.0,1.0,False,42300.0,женский,,Разв.,15.0,1,Высшее
4,23866136.0,37.0,Москва,Старший оператор,1.0,2.0,False,22300.0,мужской,,Разв.,8.0,1,Среднее общее
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3445,23865655.0,36.0,Москва,Ведущий инженер,23.0,2.0,False,54180.0,мужской,,Жен/ЗМ,11.0,0,Высшее
3446,23866799.0,26.0,Белгород,инженер,13.0,0.0,True,43660.0,мужской,,Хол/НЗ,3.0,0,Среднее специальное
3447,23854753.0,46.0,Москва,начальник смены,28.0,2.0,False,67080.0,мужской,,Жен/ЗМ,20.0,0,Высшее
3448,23864575.0,59.0,Москва,машинист,8.0,2.0,False,23740.0,женский,,Жен/ЗМ,16.0,0,Высшее
3449,23857576.0,46.0,Москва,инженер,0.0,1.0,False,37980.0,женский,,Разв.,29.0,0,Среднее общее

## Контроль изменения должности

In [52]:
data['Изменение должности'] =data['ID'].apply(lambda x: role_changes[x])

In [53]:
data.set_index('ID', inplace=True)

In [54]:
data

,Возраст,Город в адресе регистрации на конец отчетного периода,Должность,Календарные дни отсутствия,Количество детей,Молодая кровь,Оклад/тариф на конец отчетного периода,Пол,Сезон,Семейное положение,Стаж,Уволен,Образование,Изменение должности
ID,,,,,,,,,,,,,,
23855133.0,64.0,Москва,Ведущий инженер,133.0,3.0,False,42300.0,мужской,,Жен/ЗМ,27.0,1,Высшее,1
23866165.0,40.0,Москва,экономист,207.0,2.0,False,33600.0,женский,,Жен/ЗМ,8.0,1,Среднее общее,1
23858052.0,68.0,Москва,начальник смены,2.0,2.0,False,52500.0,мужской,,Жен/ЗМ,40.0,1,Высшее,1
23865091.0,64.0,Москва,Ведущий инженер,5.0,1.0,False,42300.0,женский,,Разв.,15.0,1,Высшее,1
23866136.0,37.0,Москва,Старший оператор,1.0,2.0,False,22300.0,мужской,,Разв.,8.0,1,Среднее общее,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23865655.0,36.0,Москва,Ведущий инженер,23.0,2.0,False,54180.0,мужской,,Жен/ЗМ,11.0,0,Высшее,0
23866799.0,26.0,Белгород,инженер,13.0,0.0,True,43660.0,мужской,,Хол/НЗ,3.0,0,Среднее специальное,0
23854753.0,46.0,Москва,начальник смены,28.0,2.0,False,67080.0,мужской,,Жен/ЗМ,20.0,0,Высшее,0
23864575.0,59.0,Москва,машинист,8.0,2.0,False,23740.0,женский,,Жен/ЗМ,16.0,0,Высшее,0
23857576.0,46.0,Москва,инженер,0.0,1.0,False,37980.0,женский,,Разв.,29.0,0,Среднее общее,0

In [55]:
data['Изменение должности'].value_counts()

0    3139
1     311
Name: Изменение должности, dtype: int64

## генерация ID отдела

In [56]:
data['Отдел'] = np.random.randint(10,size=data.shape[0])

In [57]:
data['Отдел'].value_counts()

4    379
9    374
1    359
8    347
2    347
6    341
3    331
5    330
0    327
7    315
Name: Отдел, dtype: int64

## Генерация коэф вовлеченности сотрудника

In [58]:
data['Вовлеченность'] = np.random.random(data.shape[0]).round(2)

In [59]:
data

,Возраст,Город в адресе регистрации на конец отчетного периода,Должность,Календарные дни отсутствия,Количество детей,Молодая кровь,Оклад/тариф на конец отчетного периода,Пол,Сезон,Семейное положение,Стаж,Уволен,Образование,Изменение должности,Отдел,Вовлеченность
ID,,,,,,,,,,,,,,,,
23855133.0,64.0,Москва,Ведущий инженер,133.0,3.0,False,42300.0,мужской,,Жен/ЗМ,27.0,1,Высшее,1,1,0.23
23866165.0,40.0,Москва,экономист,207.0,2.0,False,33600.0,женский,,Жен/ЗМ,8.0,1,Среднее общее,1,0,0.13
23858052.0,68.0,Москва,начальник смены,2.0,2.0,False,52500.0,мужской,,Жен/ЗМ,40.0,1,Высшее,1,6,0.94
23865091.0,64.0,Москва,Ведущий инженер,5.0,1.0,False,42300.0,женский,,Разв.,15.0,1,Высшее,1,8,0.87
23866136.0,37.0,Москва,Старший оператор,1.0,2.0,False,22300.0,мужской,,Разв.,8.0,1,Среднее общее,1,9,0.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23865655.0,36.0,Москва,Ведущий инженер,23.0,2.0,False,54180.0,мужской,,Жен/ЗМ,11.0,0,Высшее,0,9,0.50
23866799.0,26.0,Белгород,инженер,13.0,0.0,True,43660.0,мужской,,Хол/НЗ,3.0,0,Среднее специальное,0,3,0.08
23854753.0,46.0,Москва,начальник смены,28.0,2.0,False,67080.0,мужской,,Жен/ЗМ,20.0,0,Высшее,0,3,0.08
23864575.0,59.0,Москва,машинист,8.0,2.0,False,23740.0,женский,,Жен/ЗМ,16.0,0,Высшее,0,5,0.05
23857576.0,46.0,Москва,инженер,0.0,1.0,False,37980.0,женский,,Разв.,29.0,0,Среднее общее,0,4,0.63

## Удобство рабочего графика

In [60]:
data['Удобство рабочего графика'] = [int(x>0.3) for x in np.random.random(data.shape[0]).round(2)]

In [61]:
data

,Возраст,Город в адресе регистрации на конец отчетного периода,Должность,Календарные дни отсутствия,Количество детей,Молодая кровь,Оклад/тариф на конец отчетного периода,Пол,Сезон,Семейное положение,Стаж,Уволен,Образование,Изменение должности,Отдел,Вовлеченность,Удобство рабочего графика
ID,,,,,,,,,,,,,,,,,
23855133.0,64.0,Москва,Ведущий инженер,133.0,3.0,False,42300.0,мужской,,Жен/ЗМ,27.0,1,Высшее,1,1,0.23,0
23866165.0,40.0,Москва,экономист,207.0,2.0,False,33600.0,женский,,Жен/ЗМ,8.0,1,Среднее общее,1,0,0.13,0
23858052.0,68.0,Москва,начальник смены,2.0,2.0,False,52500.0,мужской,,Жен/ЗМ,40.0,1,Высшее,1,6,0.94,0
23865091.0,64.0,Москва,Ведущий инженер,5.0,1.0,False,42300.0,женский,,Разв.,15.0,1,Высшее,1,8,0.87,1
23866136.0,37.0,Москва,Старший оператор,1.0,2.0,False,22300.0,мужской,,Разв.,8.0,1,Среднее общее,1,9,0.64,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23865655.0,36.0,Москва,Ведущий инженер,23.0,2.0,False,54180.0,мужской,,Жен/ЗМ,11.0,0,Высшее,0,9,0.50,0
23866799.0,26.0,Белгород,инженер,13.0,0.0,True,43660.0,мужской,,Хол/НЗ,3.0,0,Среднее специальное,0,3,0.08,1
23854753.0,46.0,Москва,начальник смены,28.0,2.0,False,67080.0,мужской,,Жен/ЗМ,20.0,0,Высшее,0,3,0.08,1
23864575.0,59.0,Москва,машинист,8.0,2.0,False,23740.0,женский,,Жен/ЗМ,16.0,0,Высшее,0,5,0.05,1
23857576.0,46.0,Москва,инженер,0.0,1.0,False,37980.0,женский,,Разв.,29.0,0,Среднее общее,0,4,0.63,0

In [62]:
data.to_csv('./result.csv')

# Preproc

In [63]:
data

,Возраст,Город в адресе регистрации на конец отчетного периода,Должность,Календарные дни отсутствия,Количество детей,Молодая кровь,Оклад/тариф на конец отчетного периода,Пол,Сезон,Семейное положение,Стаж,Уволен,Образование,Изменение должности,Отдел,Вовлеченность,Удобство рабочего графика
ID,,,,,,,,,,,,,,,,,
23855133.0,64.0,Москва,Ведущий инженер,133.0,3.0,False,42300.0,мужской,,Жен/ЗМ,27.0,1,Высшее,1,1,0.23,0
23866165.0,40.0,Москва,экономист,207.0,2.0,False,33600.0,женский,,Жен/ЗМ,8.0,1,Среднее общее,1,0,0.13,0
23858052.0,68.0,Москва,начальник смены,2.0,2.0,False,52500.0,мужской,,Жен/ЗМ,40.0,1,Высшее,1,6,0.94,0
23865091.0,64.0,Москва,Ведущий инженер,5.0,1.0,False,42300.0,женский,,Разв.,15.0,1,Высшее,1,8,0.87,1
23866136.0,37.0,Москва,Старший оператор,1.0,2.0,False,22300.0,мужской,,Разв.,8.0,1,Среднее общее,1,9,0.64,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23865655.0,36.0,Москва,Ведущий инженер,23.0,2.0,False,54180.0,мужской,,Жен/ЗМ,11.0,0,Высшее,0,9,0.50,0
23866799.0,26.0,Белгород,инженер,13.0,0.0,True,43660.0,мужской,,Хол/НЗ,3.0,0,Среднее специальное,0,3,0.08,1
23854753.0,46.0,Москва,начальник смены,28.0,2.0,False,67080.0,мужской,,Жен/ЗМ,20.0,0,Высшее,0,3,0.08,1
23864575.0,59.0,Москва,машинист,8.0,2.0,False,23740.0,женский,,Жен/ЗМ,16.0,0,Высшее,0,5,0.05,1
23857576.0,46.0,Москва,инженер,0.0,1.0,False,37980.0,женский,,Разв.,29.0,0,Среднее общее,0,4,0.63,0

In [64]:
data['Молодая кровь']=data['Молодая кровь'].astype('int32')
data['Уволен']=data['Уволен'].astype('int32')

In [65]:
from sklearn.preprocessing import LabelEncoder

le1 = LabelEncoder()
data['Должность'] = le1.fit_transform(data['Должность'])

In [66]:
le2 = LabelEncoder()
data['Пол'] = le2.fit_transform(data['Пол'])

In [67]:
le3 = LabelEncoder()
data['Семейное положение'] = le3.fit_transform(data['Семейное положение'])

In [68]:
le4 = LabelEncoder()
data['Город в адресе регистрации на конец отчетного периода'] = le4.fit_transform(data['Город в адресе регистрации на конец отчетного периода'])

In [71]:
le5 = LabelEncoder()
data['Образование'] = le5.fit_transform(data['Образование'])

In [74]:
data.corr().to_excel('./corr.xlsx')

# Image

In [ ]:
sns.pairplot(data,vars=['Должность','Пол','Календарные дни отсутствия','Оклад/тариф на конец отчетного периода','age','стаж'], hue="Уволен")

In [ ]:
sns.barplot(data=data, x="age", y="Уволен")

In [ ]:
sns.barplot(data=data, x="Пол", y=data['Пол'].value_counts())

In [ ]:
y = data['Уволен']
X = data.drop(['Уволен','ID'], axis=1)

In [ ]:
sns.lineplot(data = data, x = "Должность", y = "Оклад/тариф на конец отчетного периода")

# Генерация данных

In [ ]:
data.set_index('ID', inplace=True)

In [ ]:
data